doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Agency theme
        link(rel="stylesheet" type="text/css" href="css/bootstrap.min.css")
        link(rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css")
        link(href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css')  
        link(rel="stylesheet" type="text/css" href="sass/main.css")
    body
        -var parrafo ="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Manima maxime quam architecto quo inventore harum ex magni, dicta impedit."
        -var parrafo2 ="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!"
        mixin redes
            div.icon
                i.fa.fa-twitter
            div.icon
                i.fa.fa-facebook
            div.icon
                i.fa.fa-linkedin            
        header
            nav#menu.navbar.navbar-default
                div.container-fluid
                    div.navbar-header
                        button.navbar-toggle(type="button" data-toggle="collapse" data-target="#navbarCollapse")
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href="#") Star Bootstrap
                    div#navbarCollapse.collapse.navbar-collapse
                        ul.nav.navbar-nav.navbar-right
                            li
                                a(href="#") SERVICES
                            li
                                a(href="#") PORTFOLIO
                            li
                                a(href="#") ABOUT
                            li
                                a(href="#") TEAM
                            li
                                a(href="#") CONTACT        
        section.banner
            h2 
                em Welcome To Our Studio!
            h1 IT'S NICE TO MEET YOU
            a.btn.btn-default(href="#" role="button") TELL ME MORE
        section.servicios
            div.container
                div.row
                    h1 SERVICES
                    p 
                        em Lorem ipsum dolor sit amet consectetur.      
                div.row
                    div.col-md-4
                        div.icon-circle
                            i.fa.fa-shopping-cart
                        h4 E-Commerce
                        p= parrafo        
                    div.col-md-4
                        div.icon-circle
                            i.fa.fa-laptop
                        h4 Responsive Design
                        p= parrafo           
                    div.col-md-4
                        div.icon-circle
                            i.fa.fa-lock
                        h4 Web Security
                        p= parrafo               
        section.portfolio
            div.container 
                div.row
                        h1 PORTFOLIO
                        p 
                            em Lorem ipsum dolor sit amet consectetur.                     
                div.row
                    div.col-md-4
                        div.img-porta
                            img(src="img/portfolio/roundicons.png")
                            h4 Round Icons
                            h5 
                                em Graphic Design            
                    div.col-md-4
                        div.img-porta
                            img(src="img/portfolio/startup-framework.png")
                            h4 Startup Framework
                            h5 
                                em Website Design            
                    div.col-md-4
                        div.img-porta
                            img(src="img/portfolio/treehouse.png")
                            h4 Treehouse
                            h5 
                                em Website Design                            
                div.row
                    div.col-md-4
                        div.img-porta
                            img(src="img/portfolio/golden.png")
                            h4 Golden
                            h5 
                                em Website Design            
                    div.col-md-4
                        div.img-porta
                            img(src="img/portfolio/escape.png")
                            h4 Escape
                            h5 
                                em Website Design            
                    div.col-md-4
                        div.img-porta
                            img(src="img/portfolio/dreams.png")
                            h4 Dreams
                            h5 
                                em Website Design                           
        section.about
            div.container
                div.row
                        h1 ABOUT

                        p 
                            em Lorem ipsum dolor sit amet consectetur.                                                                                       
                div.row
                    div.col-md-4.text-right
                        h4 2009-2011
                        h4 Our Humble Beginnings
                        p= parrafo2    
                    div.col-md-4
                        div.circle-about
                            img(src="img/about/1.jpg")
                hr                                       
                div.row
                    div.col-md-4.col-md-offset-4  
                        div.circle-about
                            img(src="img/about/2.jpg")
                    div.col-md-4.text-left                
                        h4 MARCH 2011
                        h4 An Agency is Born
                        p= parrafo2 
                hr                
                div.row
                    div.col-md-4.text-right
                        h4 DECEMBER 2012
                        h4 Transition to Full Service
                        p= parrafo2    
                    div.col-md-4
                        div.circle-about
                            img(src="img/about/3.jpg")
                hr                                        
                div.row
                    div.col-md-4.col-md-offset-4  
                        div.circle-about
                            img(src="img/about/4.jpg")
                    div.col-md-4.text-left               
                        h4 JULY 2014
                        H4 Phase Two Expansion
                        p= parrafo2 
                hr               
                div.row
                    div.col-md-4.col-md-offset-4  
                        div.yellow
                                h4 BE PART OF OUR STORY!
                
        section.team
            div.container
                div.row
                        h1 OUR AMAZING TEAM
                        p 
                            em Lorem ipsum dolor sit amet consectetur.
                div.row
                    div.col-md-4
                        div.circle-team
                            img(src="img/team/1.jpg")
                        h4 Kay Garland
                        p Lead Designer
                        +redes            
                    div.col-md-4
                        div.circle-team
                            img(src="img/team/2.jpg")
                        h4 Larry Parker
                        p Lead Marketer
                        +redes            
                    div.col-md-4
                        div.circle-team
                            img(src="img/team/3.jpg")
                        h4 Diana Pertersen
                        p Lead Developer
                        +redes                    
                div.row
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.
        section.logos
            div.container
                div.row
                    div.col-md-3
                        img(src="img/logos/envato.jpg")
                    div.col-md-3
                        img(src="img/logos/designmodo.jpg")
                    div.col-md-3
                        img(src="img/logos/themeforest.jpg")
                    div.col-md-3                      
                        img(src="img/logos/creative-market.jpg")
        section.contact
           div.container
            div.row
                    h1 CONTACT US
                    p 
                        em Lorem ipsum dolor sit amet consectetur.             
            div.row
                div.col-md-6
                    form
                        input.form-control(type="text" placeholder="YOUR NAME *")
                        input.form-control(type="email" placeholder="YOUR EMAIL *")
                        input.form-control(type="number" placeholder="YOUR PHONE *")
                div.col-md-6
                    form    
                        
                        textarea.form-control(rows="11" type="text" placeholder="YOUR NESSAGE *")
            div.row
                input.btn.btn-default(type="submit" value="SEND MESSAGE")
        footer
            div.container
                div.row
                    div.col-md-4
                        h5 Copyright © Your Website 2014 
                    div.col-md-4
                        +redes
                    div.col-md-4
                        a(href="#") Privacy Policy    
                        a(href="#") Terms of Use

        script(src="js/cbpAnimated.js")                                              
        script(src="js/bootstrap.min.js")
        script(src="js/jquery.js")
